[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
cython = "*"
opencv-python = "*"
pillow = "*"
pycocotools = "*"
matplotlib = "*"
opencv-contrib-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
